* {
    box-sizing: border-box;
    margin: 0;
}

header {
    width: 100%;
    height: 180px;
    background-color: rgb(18, 148, 255);
    background-image: url("../img/pattern.png");
    padding-top: 100px;
}

#logo {
    width: 15%
}

.title {
    font-size: 38px;
    padding-top: 25px;
}

.article-info {
    font-size: 15px;
    padding-bottom: 20px;
    color: grey;
}

.article-info span {
    color: grey;
    font-size: 20px;
}

.article-info a {
    text-decoration: none;
    color: lightskyblue;
}

.caption {
    font-size: 13px;
    padding-bottom: 20px;
}

.highlight {
    background-color: yellow;
}

.list {
    padding: 20px 20px;
}

table {
    border-collapse: collapse;
    font-size: 18px;
}

.table-head {
    background-color: rgb(40, 122, 199);
    text-align: left;
    color: white;
}

.table-head th {
    width: 33%;
}

tbody .colored {
    background-color: lightblue;
}

.closing-paragraph {
    padding: 30px 0;
}

.suggestions {
    padding-bottom: 15px;
    color: grey;
}

.div-bg {
    width: 250px;
    height: 200px;
    color: white;
    font-size: 20px;
    padding-left: 15px;
    padding-top: 12px;
}

.div-bg.bg1 {
    background-image: url("../img/monitor.jpg");
}

.div-bg.bg2 {
    background-image: url("../img/graph.jpg");
}