* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 22vh;
    background-color: rgb(18, 148, 255);
    background-image: url("../img/pattern.png");
}

header img {

}

#logo {
    width: 15%;
    height: 120px;
}

